[submodule "extra/tools-build-with-cli"]
	path = extra/tools-build-with-cli
	url = git@github.com:mcci-catena/tools-build-with-cli.git
[submodule "extra/ArduinoCore-samd"]
	path = extra/ArduinoCore-samd
	url = git@github.com:mcci-catena/ArduinoCore-samd.git
[submodule "libraries/MCCI_FRAM_I2C"]
	path = libraries/MCCI_FRAM_I2C
	url = git@github.com:mcci-catena/MCCI_FRAM_I2C.git
[submodule "libraries/Catena-Arduino-Platform"]
	path = libraries/Catena-Arduino-Platform
	url = git@github.com:mcci-catena/Catena-Arduino-Platform.git
[submodule "libraries/arduino-lorawan"]
	path = libraries/arduino-lorawan
	url = git@github.com:mcci-catena/arduino-lorawan.git
[submodule "libraries/Catena-mcciadk"]
	path = libraries/Catena-mcciadk
	url = git@github.com:mcci-catena/Catena-mcciadk.git
[submodule "libraries/arduino-lmic"]
	path = libraries/arduino-lmic
	url = git@github.com:mcci-catena/arduino-lmic.git
[submodule "libraries/Adafruit_BME280_Library"]
	path = libraries/Adafruit_BME280_Library
	url = git@github.com:mcci-catena/Adafruit_BME280_Library.git
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = git@github.com:mcci-catena/Adafruit_Sensor.git
[submodule "libraries/RTCZero"]
	path = libraries/RTCZero
	url = git@github.com:mcci-catena/RTCZero.git
[submodule "libraries/BH1750"]
	path = libraries/BH1750
	url = git@github.com:mcci-catena/BH1750.git
[submodule "sketches/catena4450m101_sensor"]
	path = sketches/catena4450m101_sensor
	url = git@github.com:mcci-catena/catena4450m101_sensor.git
